*~
\*
Makefile.in
aclocal.m4
autom4te.cache/
bootstrap.sh
config-h.in
config.log
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
configure
doc/Makefile.in
localtests/Makefile.in
src/Makefile.in
tests/Makefile.in
